body, html {
    height: 100%;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth; 
    background-color: rgb(154, 131, 113);
}

.backmenu {
    height: 100px;
    opacity: 100%;
    display: flex;
    padding: 0 2%;
    align-items: center;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}

.back-arrow-ul {
    width: 40px;
    padding-left: 0px;
}

.back-arrow {
    height: 15px;
    width: 15px;
}

.logo-rps-ul {
    width: 45px;
    padding-left: 0px;
}

.logo-rps {
    height: 25px;
    width: 25px;
}

.backmenu > h3 {
    color: rgb(255, 255, 255);
}

/* .player-name {
    height: 10%;
    opacity: 100%;
    display: grid;
    grid-template-columns: 100% 100%;
    padding: 0 25%;
    align-items: center;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    justify-content:center;
} */

/* h4#player-1 {
    align-items: center;
    padding-left: 50%;
}

h4#comp {
    align-items: center;
    padding-left: 50%;
} */

.container {
    height: 25%;
    width: 50%;
    opacity: 100%;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 30% 60% 60% 60%;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center;
    align-items: center;
    align-self: center;
}

.player1 {
    width: 50%;
    height: 150%;
    margin-left: auto;
    margin-right: auto;
}

.batu1 {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.gunting1 {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.kertas1 {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.info {
    color: red;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center;
    font-size: 25px;
}

/* .container2 {
    height: 25%;
    width: 50%;
    opacity: 100%;
    padding: 10% 75%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 60% 60% 60%;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center;
    align-items: center;
    align-self: center;
} */

.comp {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.batu2 {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.gunting2 {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.kertas2 {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.replay {
    width: 50px;
    height: 50px;
    padding-top: 5%;
    margin-left: 48%;
}