body, html{
    height: 100%;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

.hero-image {
    background-image: url(assets/main-bg.jpg);
    height: 150%;
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: 1545px;
    background-position: top;    
    position: relative;
}

.navbar{
    background: rgba(0, 0, 0, 0.5);
    height: 70px;
    opacity: 100%;
    display: flex;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}

.navbar > h3{
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.nav-menu{
    display: flex;
    color: white;
    gap: 30px;
    font-size: 18px;
}

.nav-menu a{
    color: white;
    text-decoration: none;
}

.nav-menu2{
    display: flex;
    color: white;
    gap: 30px;
    font-size: 18px;
}

.nav-menu2 a{
    color: white;
    text-decoration: none;
}

.hero-container {
    display: flex;
    height: 950px;
}

.hero-container > div {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Bebas Neue', cursive;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    letter-spacing: 5px;
}

.hero-text h1{
    font-size: 80px;
    margin: 20px 0;
    letter-spacing: 8px;
}

.hero-text p{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.hero-text a{
    color: black;
    text-decoration: none;
}

.the-story {
    height: 50px;
    opacity: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 500px;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    opacity: 100%;
    letter-spacing: 5px;
    color: white;
}

.scroll-down{
        align-items: flex-end;
        justify-self: center;
        height: 50px;
        opacity: 100%;
        display: flex;
        flex-wrap: wrap;
        align-self:flex-end;
        justify-content: center;
        opacity: 100%;
        margin-top: 510px;    
}

.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button1{
    width: 200px;
    height: 50px;
    background-color: rgb(255, 202, 78); /* Yellow */
    border: none;
    color: black;
    padding: 0;
    align-content: center;
    text-align: center;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button1:hover{background-color: rgb(255, 202, 78);}

.button1:active{
    background-color: rgb(255, 202, 78);
    box-shadow: 0 5px rgb(255, 183, 0);
    transform: translateY(4px);
}

.content-image {
    background-image: url(assets/the-games-bg.jpg);
    height: 150%;
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: 1545px;
    background-position: top;    
    position: relative;
}

.thegames{
    background-image: url(assets/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-size: 1545px;
    background-position: 0 -1px;
    background-color: black;
    margin-top: 0%;
    opacity: 100%;
    height: 1000px;
    display: flex;
    color: white;
}

.thegames > div{
    text-align: center;
    width: 40%;
}

.thegames h1{
    font-size: 80px;
    margin: 0px 20px 0 0;
    letter-spacing: 8px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
}

.thegames p{
    margin: 250px 140px 0px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}

.rockpaperscissor{
    align-self: center;
    display: flex;
    width: 100%;
    height: auto;
}

.left{
    align-self: center;
    margin: 5px;
}

.right{
    align-self: center;
    margin: 5px;
}

.ellipses{
    align-self: center;
    margin-left: -500px;
    margin-top: 350px;
    gap: 100px;
}

.features{
    background-image: url(assets/features.jpg);
    background-repeat: no-repeat;
    background-size: 1545px;
    background-position: 0 -1px;
    background-color: black;
    margin-top: 0%;
    opacity: 100%;
    height: 930px;
    display: flex;
    color: white;
}

.features-text{
    position: absolute;
    color: white;
    height: 100px;
    right: 400px;
    top: 1200px;
    max-width: 420px;
    padding: 10px;
    margin: 0%;
}

.features-text h1{
    font-size: 80px;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
}

.features-text p{
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}

.timeline {
    position: relative;
    max-width: 420px;
    height: 122px;
    margin: 0 auto;
    top: 350px;
    right: -40px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 56px;
  }
  
.container {
    padding: 0px 50px;
    position: relative;
    background-color: inherit;
    height: 80px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }
  
    .container::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -50px;
    background-color: white;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
    .left {
    left: 0;
  }
  
    .right {
    left: 50%;
  }
    
    .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
  }

    .right::after {
    left: 50px;
  }

    .content {
    padding: 2px 30px;
    position: relative;
    border-radius: 6px;
  }
  
@media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }

    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
    left: 15px;
    }
    
    .right {
    left: 0%;
    }
  }

.system-requirements {
    background-image: url(assets/requirements.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -1px;
    margin-top: 0%;
    opacity: 100%;
    height: 1000px;
    display: flex;
    color: white;
}

.text {
    position: absolute;
    color: white;
    height: 50px;
    width: 1545px;
    right: 0;
    top: 1930px;
    padding: 10px;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.text h6{
    margin: 20px 0;
    letter-spacing: 2px;
}

.systemreq {
    position: absolute;
    color: white;
    height: 150px;
    max-width: 400px;
    right: 0;
    top: 1900px;
    padding: 10px;
    margin-top: 200px;
    margin-right: 1010px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: left;
    justify-content: center;
    align-content: center;
}

.systemreq h1{
    font-size: 48px;
    letter-spacing: 2px;
}

.table, th {
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 900px;
    padding: 10px;
    text-align: left;
    align-self: center;
    border: 1px solid white;
    font-family: 'Open Sans', sans-serif;
    border-bottom-right-radius: 10px;
    border-collapse: collapse;
}

th h3 {
    color: orange;
}

th p {
    font-size: 16px;
}

.topscores {
    background-image: url(assets/top-score-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -1px;
    margin-top: 0%;
    opacity: 100%;
    height: 930px;
    display: flex;
    color: white;
}

.topscores-text {
    position: relative;
    color: white;
    height: 250px;
    max-width: 350px;
    right: 0;
    top: 0;
    padding: 10px;
    margin-top: 350px;
    margin-left: 100px;
    margin-right: 1010px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.topscores-text h1{
    font-size: 48px;
    letter-spacing: 2px;
}

.topscores-text p{
    font-size: 16px;
    margin-top: -30px;
}

.button2{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 202, 78); /* Yellow */
    border: none;
    color: black;
    padding: 0;
    align-content: center;
    text-align: center;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover{background-color: rgb(255, 202, 78);}

.button2:active{
    background-color: rgb(255, 202, 78);
    box-shadow: 0 5px rgb(255, 183, 0);
    transform: translateY(4px);
}

.button2 a{
    color: black;
    text-decoration: none;
}

.card1 {
    position: absolute;
    margin-left: 1000px;
    margin-top: 300px;
    transition: 0.3s;
    display: flex;
    height: 120px;
    width: 300px;
    border-width: 50px;
    border: 1px solid rgb(29, 29, 29);
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
}

.card-img1 {
    padding: 10px 10px;
    border-radius: 50px 50px 50px 50px;
    width: 50px;
    height: 50px;
}

.card-text1 {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
}

.card-text1 h4 {
    color: orange;
    margin-top: 10px;
    padding: 3px;
    align-content: center;
    font-size: 14px;
}

.card-text1 h5 {
    color: gray;
    margin-top: -20px;
    padding: 3px;
    align-content: center;
    font-size: 12px;
}

.comments1 {
    position: inherit;
    height: 50px;
    width: 250px;
    margin-top: 60px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
}

.comments1 p {
    color: white;
    align-content: center;
    font-size: 12px;
}

.comments1 footer {
    color: gray;
    margin-top: -7px;
    padding-left: 3px;
    align-content: center;
    font-size: 10px;
}

.twtcard1 {
    width: 20px;
    height: 15px;
    margin-top: 20px;
    margin-right: 20px;
}

.card2 {
    position: absolute;
    margin-left: 800px;
    margin-top: 440px;
    transition: 0.3s;
    display: flex;
    height: 135px;
    width: 300px;
    border-width: 50px;
    border: 1px solid rgb(29, 29, 29);
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
}

.card-img2 {
    padding: 10px 10px;
    border-radius: 50px 50px 50px 50px;
    width: 50px;
    height: 50px;
}

.card-text2 {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
}

.card-text2 h4 {
    color: orange;
    margin-top: 10px;
    padding: 3px;
    align-content: center;
    font-size: 14px;
}

.card-text2 h5 {
    color: gray;
    margin-top: -20px;
    padding: 3px;
    align-content: center;
    font-size: 12px;
}

.comments2 {
    position: inherit;
    height: 50px;
    width: 250px;
    margin-top: 60px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
}

.comments2 p {
    color: white;
    align-content: center;
    font-size: 12px;
}

.comments2 footer {
    color: gray;
    margin-top: -7px;
    padding-left: 3px;
    align-content: center;
    font-size: 10px;
}

.twtcard2 {
    width: 20px;
    height: 15px;
    margin-top: 20px;
    margin-right: 20px;
}

.card3 {
    position: absolute;
    margin-left: 1100px;
    margin-top: 595px;
    transition: 0.3s;
    display: flex;
    height: 135px;
    width: 300px;
    border-width: 50px;
    border: 1px solid rgb(29, 29, 29);
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
}

.card-img3 {
    padding: 10px 10px;
    border-radius: 50px 50px 50px 50px;
    width: 50px;
    height: 50px;
}

.card-text3 {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
}

.card-text3 h4 {
    color: orange;
    margin-top: 10px;
    padding: 3px;
    align-content: center;
    font-size: 14px;
}

.card-text3 h5 {
    color: gray;
    margin-top: -20px;
    padding: 3px;
    align-content: center;
    font-size: 12px;
}

.comments3 {
    position: inherit;
    height: 50px;
    width: 250px;
    margin-top: 60px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
}

.comments3 p {
    color: white;
    align-content: center;
    font-size: 12px;
}

.comments3 footer {
    color: gray;
    margin-top: -7px;
    padding-left: 3px;
    align-content: center;
    font-size: 10px;
}

.twtcard3 {
    width: 20px;
    height: 15px;
    margin-top: 20px;
    margin-right: 20px;
}

.newsletter{
    background-image: url(assets/newsletter.png);
    background-repeat: no-repeat;
    background-size: 1545px;
    background-position: 0 -1px;
    background-color: black;
    margin-top: 0%;
    opacity: 100%;
    height: 1000px;
    display: flex;
    color: white;
}

.skull {
    padding-left: 200px;
    align-self: center;
}

.newsletter-text{
    position: relative;
    color: white;
    height: 500px;
    top: 300px;
    width: 600px;
    padding: 10px;
    margin-left: 200px;
}

.newsletter-text h4{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.newsletter-text h1{
    margin-top: -10px;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
}

.newsletter-text p{
    margin-top: -30px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.email-subs {
    position: absolute;
    margin-left: 820px;
    margin-top: 520px;
    transition: 0.3s;
    display: flex;
    height: 40px;
    width: 300px;
    border-width: 50px;
    border: 1px solid rgb(29, 29, 29);
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    padding-left: 20px;
}

.email {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
}

.email h4 {
    color: orange;
    margin-top: -15px;
    align-content: center;
    font-size: 12px;
}

.email h5 {
    color: gray;
    margin-top: 2px;
    align-content: center;
    font-size: 10px;
}

.button3{
    margin-left: -20px;
    width: 200px;
    height: 40px;
    background-color: rgb(255, 202, 78); /* Yellow */
    border: none;
    color: black;
    padding: 0;
    align-content: center;
    text-align: center;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button3:hover{background-color: rgb(255, 202, 78);}

.button3:active{
    background-color: rgb(255, 202, 78);
    box-shadow: 0 5px rgb(255, 183, 0);
    transform: translateY(4px);
}

.button3 a{
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 420px) {
    .hero-image{
        flex-wrap: wrap;
    }
    .hero-container > div{
        width: 100%;
    }

    .rockpaperscissor{
        flex-wrap: wrap;
        max-width: 420px;
        height: auto;
        width: 100%;
    }

    .left{
        flex-wrap: wrap;
    }

    .right{
        flex-wrap: wrap;
    }

    .ellipses{
        flex-wrap: wrap;
    }
  }